<h1>Create Group</h1>
<%= form_tag '/groups', method: :post do  %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @group ? @group.name : "" %>
  </div>
  <div>
    <%= label_tag :base_phone %>
    <%= text_field_tag :base_phone, @group ? @group.base_phone : "" %>
  </div>
  <div>
    <%= label_tag :base_zip %>
    <%= text_field_tag :base_zip, @group ? @group.base_zip : "" %>
  </div>
  <div>
    <%= label_tag :photo %>
    <%= text_field_tag :photo, @group ? @group.photo : "" %>
  </div>
  <div>
    <%= label_tag :icon %>
    <%= text_field_tag :icon, @group ? @group.icon : "" %>
  </div>
  <div>
    <%= label_tag :local_meetup %>
    <%= text_field_tag :local_meetup, @group ? @group.local_meetup : "" %>
  </div>
  <div>
    <%= label_tag :local_zip %>
    <%= text_field_tag :local_zip, @group ? @group.local_zip : "" %>
  </div>
  <div>
    <%= label_tag :remote_meetup %>
    <%= text_field_tag :remote_meetup, @group ? @group.remote_meetup : "" %>
  </div>
  <div>
    <%= label_tag :remote_zip %>
    <%= text_field_tag :remote_zip, @group ? @group.remote_zip : "" %>
  </div>
  <div>
    <%= label_tag :crisis_contact_first_name %>
    <%= text_field_tag :crisis_contact_first_name, @group ? @group.crisis_contact_first_name : "" %>
  </div>
  <div>
    <%= label_tag :crisis_contact_last_name %>
    <%= text_field_tag :crisis_contact_last_name, @group ? @group.crisis_contact_last_name : "" %>
  </div>
  <div>
    <%= label_tag :cc_home_phone %>
    <%= text_field_tag :cc_home_phone, @group ? @group.cc_home_phone : "" %>
  </div>
  <div>
    <%= label_tag :cc_cell_phone %>
    <%= text_field_tag :cc_cell_phone, @group ? @group.cc_cell_phone : "" %>
  </div>
  <div>
    <%= label_tag :cc_email %>
    <%= text_field_tag :cc_email, @group ? @group.cc_email : "" %>
  </div>
  <div>
    <%= label_tag :cc_zip %>
    <%= text_field_tag :cc_zip, @group ? @group.cc_zip : "" %>
  </div>
  <div>
    <%= label_tag :user_id %>
    <%= text_field_tag :user_id, @group ? @group.user_id : "" %>
  </div>
  <%= submit_tag "Submit" %>
<% end %>
