<!-- ========== Page Title ========== -->
<section>
  <header class="pt-custom pt-dark" style="background-image: url('../hdr-zombie.jpg')" >
    <div class="container">
      <div class="row">
   
        <div class="col-sm-9 pad1">
          <div style="float:left">
            <a href="/"><img src="../assets/images/logo.png" height="100px" width="170px" alt="Prepper logo"></a>
          </div>
        </div>
       <div class="col-sm-3">
          <div style="margin: 55px 0px 0px 20px;
                      font-size: 1em;
                      letter-spacing: 4px;
                      color: #fff;
                      display: inline;
                      float:right;">Your Group</div>
        </div>

      </div>
    </div>
  </header>
</section>


<!-- ========== Page Content ========== -->
<section class="container section min-padding">
  <header class="no-padding" style="text-align:center">
    <h2><%= @group.name %></h2>
  </header>
</section>

<section class="container section no-padding">
  <div class="row ws-s no-padding">
    <!-- Section 1 -->
    <div class="col-md-6">
      <div class="faq-group-header ws-s">
        <h4 class="mb-30">Home Base</h4>
        <div class="row ws-s no-padding">
          <div class="col-md-3">
            <div><b>Address:</b></div>
            <div><b>City:</b></div>
            <div><b>State:</b></div>
            <div><b>Zip:</b></div>
          </div>
          <div class="col-md-9">
            <div><%= @group.base_addr1 %></div>
            <div><%= @group.base_city %></div>
            <div><%= @group.base_state %></div>
            <div><%= @group.base_zip %></div>
          </div>
        </div>
        <div class="row ws-s no-padding">
          <div class="col-md-3">
            <div><b>Members:</b></div>
          </div>
          <div class="col-md-9">
            <div><%= @group.members.count %></div>
          </div>
        </div>
        <br><br>
        <%= link_to "Edit Group", "/groups/#{@group.id}/edit", class: "btn btn-success" %>
        <%= link_to "Delete Group", "/groups/#{@group.id}", {method: :delete, class: "btn btn-danger" }%>
      </div>
    </div><!-- / .col-md-6 --

    <!-- Section 2 -->
    <div class="col-md-6">
 <!--      <div class="faq-group-header ws-s no-padding">
        <h4 class="mb-30">Questions Group 2</h4>
      </div>
  -->     <!-- Accordion -->
      <div class="panel-group ws-s accordions-1" id="faq-accordion-2" role="tablist" aria-multiselectable="true">
        <!-- Item 1 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-2-h-1">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-1" aria-expanded="false" aria-controls="faq-2-collapse-1">
                Current Weather Conditions
              </span>
            </h4>
          </div>
          <div id="faq-2-collapse-1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-1">
            <div class="panel-body">
            <h5>Stuff goes here</h5>
            </div>
          </div>
        </div><!-- / .panel -->

        <!-- Item 2 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-2-h-2">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-2" aria-expanded="false" aria-controls="faq-2-collapse-2">Local Meetup
              </span>
            </h4>
          </div>
          <div id="faq-2-collapse-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-2">
            <div class="panel-body">
              <div class="row ws-s no-padding">
                <div class="col-md-12">
                  <h5><%= @group.local_name %></h5>
                </div>
              </div>
              <div class="row ws-s no-padding">
                <div class="col-md-3">
                  <div><b>Address:</b></div>
                  <div><b>City:</b></div>
                  <div><b>State:</b></div>
                  <div><b>Zip:</b></div>
                </div>
                <div class="col-md-9">
                  <div><%= @group.local_addr1 %></div>
                  <div><%= @group.local_city %></div>
                  <div><%= @group.local_state %></div>
                  <div><%= @group.local_zip %></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- / .panel -->

        <!-- Item 3 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-2-h-3">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-3" aria-expanded="false" aria-controls="faq-2-collapse-3">Remote Meetup
              </span>
            </h4>
          </div>
          <div id="faq-2-collapse-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-3">
           <div class="panel-body">
              <div class="row ws-s no-padding">
                <div class="col-md-12">
                  <h5><%= @group.remote_name %></h5>
                </div>
              </div>
              <div class="row ws-s no-padding">
                <div class="col-md-3">
                  <div><b>Address:</b></div>
                  <div><b>City:</b></div>
                  <div><b>State:</b></div>
                  <div><b>Zip:</b></div>
                </div>
                <div class="col-md-9">
                  <div><%= @group.remote_addr1 %></div>
                  <div><%= @group.remote_city %></div>
                  <div><%= @group.remote_state %></div>
                  <div><%= @group.remote_zip %></div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- / .panel -->

        <!-- Item 4 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="faq-2-h-4">
            <h4 class="panel-title">
              <span class="collapsed" role="button" data-toggle="collapse" data-parent="#faq-accordion-2" href="#faq-2-collapse-4" aria-expanded="false" aria-controls="faq-2-collapse-2">Crisis Contact
              </span>
            </h4>
          </div>
          <div id="faq-2-collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq-2-h-4">
            <div class="panel-body">
              <div class="row ws-s no-padding">
                <div class="col-md-12">
                  <h5><%= @group.crisis_contact_first_name.capitalize %>&nbsp;
                  <%= @group.crisis_contact_last_name.capitalize %></h5>
                 </div>
              </div>
              <div class="row ws-s no-padding">
                <div class="col-md-3">
                  <div><b>Home:</b></div>
                  <div><b>Cell:</b></div>
                  <div><b>Email:</b></div>
                  <div><b>Zip Code:</b></div>
                </div>
                <div class="col-md-9">
                  <div><%= @group.cc_home_phone %></div>
                  <div><%= @group.cc_cell_phone %></div>
                  <div><%= @group.cc_email %></div>
                  <div><%= @group.cc_zip %></div>
                </div>
              </div>
            </div>
          </div>

        </div><!-- / .panel -->
      </div><!-- / .panel-group .accordion-1 -->
    </div><!-- / .col-md-6 -->
  </div><!-- / .row -->
</section><!-- / .container -->

<section class="container section no-padding">
  <header class="no-padding" style="text-align:right">
    <h4><span class="blue1">
    <% if @group.members.count == 0 %>
      <a href="/members/new">Manage Members</a></span></h4>
    <% else %>
      <a href="/members">Manage Members</a></span></h4>
    <% end %>
  </header>
</section>


