
<!-- ========== Page Title ========== -->

<section>
  <header class="pt-custom pt-dark">
    <div class="container">
      <div class="row">
   
        <div class="col-sm-3 pad1">
          <div style="float:left">
            <a href="/logout"><img src="../assets/images/logo.png" height="100px" width="170px" alt="Prepper logo"></a>
          </div>
        </div>
        <div class="col-sm-9 pad1">
          <div class="myheader pad1">&nbsp;</div>
        </div>

      </div>
    </div>
  </header>
</section>

<!-- ========== Login Form ========== -->

<div class="login-2">
  <div class="bg-overlay">
 
    <div class="container">
      <div class="row ws-m">
        <div class="col-md-offset-3 col-md-6">

          <div class="form-wrapper">
            <div class="form-content">

              <h3 class="form-header">Create your account</h3>
              <%= form_tag '/signup', method: :post do  %>
                <div class="form-group">
                  <div>
                    <%= label_tag :first_name %>
                    <%= text_field_tag :first_name, "", class: 'form-control',  placeholder: 'Please enter your first name' %>
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <%= label_tag :last_name %>
                    <%= text_field_tag :last_name, "", class: 'form-control',  placeholder: 'Please enter your last name' %>
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <%= label_tag :email %>
                    <%= text_field_tag :email, "", class: 'form-control',  placeholder: 'Enter your email address' %>
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <%= label_tag :password %>
                    <%= password_field_tag :password, "", class: 'form-control',  placeholder: 'Enter a password' %>
                  </div>
                </div>
                <div class="form-group">
                  <div>
                    <%= label_tag :verify_password %>
                    <%= password_field_tag :password_confirmation, "", class: 'form-control',  placeholder: 'Please re-enter password' %>
                  </div>
                </div>
                <%= submit_tag "Sign up", class: 'btn' %>
              <% end %>

            </div><!-- / .form-content -->
          </div><!-- / .form-wrapper -->            
        
        </div><!-- / .col-md-6 -->
      </div><!-- / .row -->
    </div><!-- / .container -->

  </div><!-- / .bg-overlay -->
</div><!-- / .bg-login -->
