<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <<title>Home Disaster Preparedness</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/styles/vendor/bootstrap.min.css">
        <!-- Fonts -->
        <link rel="stylesheet" href="/assets/fonts/et-lineicons/css/style.css">
        <link rel="stylesheet" href="/assets/fonts/linea-font/css/linea-font.css">
        <link rel="stylesheet" href="/assets/fonts/fontawesome/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">        
        <!-- Slider -->
        <link rel="stylesheet" href="/assets/styles/vendor/slick.css">
        <!-- Lightbox -->
        <link rel="stylesheet" href="/assets/styles/vendor/magnific-popup.css">
        <!-- Animate.css -->
        <link rel="stylesheet" href="/assets/styles/vendor/animate.css">


        <!-- Definity CSS -->
        <link rel="stylesheet" href="/assets/styles/xapp.css">        
        <link rel="stylesheet" href="/assets/styles/main.css">
        <link rel="stylesheet" href="/assets/styles/responsive.css">
        <link rel="stylesheet" href="/assets/styles/xapp.css">

        <!-- JS -->
        <script src="/assets/js/vendor/modernizr-2.8.3.min.js"></script>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>
    <body id="page-top">
        
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- ========== Preloader ========== -->

          <div class="preloader">
            <img src="/assets/images/loader.svg" alt="Loading...">
          </div>  

        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans">
          <div class="container">
<!--             <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

             </div> -->
             <!-- / .navbar-header -->

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse">

              <!-- Navbar Links Right -->
              <ul class="nav navbar-nav navbar-right">
                <% if (current_user && current_user.group ) %>                 
                  <!-- Link -->
                  <li class="dropdown mega-fw">
                    <%= link_to "Logout", "/logout", method: :delete %>
                    <!-- <a href="/logout" aria-expanded="false">Logout</a> -->
                  </li><!-- / Link -->
                  <li class="dropdown mega-fw">
                    <a href="/groups/<%= current_user.group.id %>" aria-expanded="false" style="color:#fff">Group</a>
                  </li><!-- / Link -->
                  <li class="dropdown mega-fw">
                    <a href="/members" aria-expanded="false" style="color:#fff">Members</a>
                  </li><!-- / Link -->
                  <li class="dropdown mega-fw">
                    <a href="/resources" aria-expanded="false" style="color:#fff">Resources</a>
                  </li><!-- / Link -->
                  <li class="dropdown mega-fw">
                    <a href="/scenarios" aria-expanded="false" style="color:#fff">Scenarios</a>
                  </li><!-- / Link -->
                <% end %>                 
              </ul><!-- / .nav .navbar-nav .navbar-right -->
            </div><!--/.navbar-collapse -->
          </div><!-- / .container -->
        </nav><!-- / .navbar -->
      

        <div>
          <%= yield %>
        </div>

        <!-- ========== Footer ========== -->
        
       <!-- ========== Footer Widgets ========== -->
        
        <footer class="footer-widgets">
          <div class="container">
            <div class="row section" style="padding-top:20px; padding-bottom: 0px"->

              <!-- About Us -->
              <div class="col-md-4">
                <div class="widget about-widget">
                  <h5 class="header-widget">About Us</h5>
                  <p>We are a non-profit organization engaged in making disaster preparedness more accessible to families.</p>
                  <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                 </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Instagram Feed -->
              <div class="col-md-4">
                <div class="widget gallery-widget">
                  <h5 class="header-widget">Instagram Feed</h5>
                  <ul>


                    <li><a href="/fire_650x450.png" class="gallery-widget-lightbox"><img src="/fire-87x87.png" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="/flood_650x450.png" class="gallery-widget-lightbox"><img src="/flood_87x87.png" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="/hurricane_650x450.png" class="gallery-widget-lightbox"><img src="/hurricane_87x87.png" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>

                    <li><a href="/power_650x450.png" class="gallery-widget-lightbox"><img src="/power_87x87.png" alt="Instagram Image"><div class="hover-link"><span class="linea-arrows-plus"></span></div></a></li>


                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

              <!-- Twitter Feed -->
              <div class="col-md-4">
                <div class="widget twitter-widget">
                  <h5 class="header-widget">Twitter Feed</h5>
                  <ul>
                    
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <p>5 Reasons You Should Take a second source of clean water in your bugout bag <a href="#">http://practicalprep.to/NTa6F</a> <span>- Jan 27</span></p>
                    </li>

                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                      <p>Preparing your pets for travel <a href="#">#creativity</a>? <a href="#">http://practicalprep.to/hVl5G</a> <span>- Jan 24</span></p>
                    </li>

                  </ul>
                </div><!-- / .widget -->
              </div><!-- / .col-md-3 -->

            </div><!-- / .row -->
          </div><!-- / .container -->


          <!-- Copyright -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                
                <div class="col-md-6">
                  <small>&copy; 2017 Terry Ramsdale</a></small>
                </div>

                <div class="col-md-6">
                  <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>

              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->

        </footer><!-- / .footer-links -->


        <!-- ========== Scripts ========== -->

        <script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="/assets/js/vendor/google-fonts.js"></script>
        <script src="/assets/js/vendor/jquery.easing.js"></script>
        <script src="/assets/js/vendor/jquery.waypoints.min.js"></script>
        <script src="/assets/js/vendor/bootstrap.min.js"></script>
        <script src="/assets/js/vendor/bootstrap-hover-dropdown.min.js"></script>
        <script src="/assets/js/vendor/smoothscroll.js"></script>
        <script src="/assets/js/vendor/jquery.localScroll.min.js"></script>
        <script src="/assets/js/vendor/jquery.scrollTo.min.js"></script>
        <script src="/assets/js/vendor/jquery.stellar.min.js"></script>
        <script src="/assets/js/vendor/jquery.parallax.js"></script>
        <script src="/assets/js/vendor/slick.min.js"></script>
        <script src="/assets/js/vendor/jquery.easypiechart.min.js"></script>
        <script src="/assets/js/vendor/countup.min.js"></script>
        <script src="/assets/js/vendor/isotope.min.js"></script>
        <script src="/assets/js/vendor/packery-mode.pkgd.min.js"></script>
        <script src="/assets/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/assets/js/vendor/wow.min.js"></script>
        <script src="/assets/js/vendor/jquery.mb.YTPlayer.min.js"></script>
        <script src="/assets/js/vendor/jquery.ajaxchimp.js"></script>

        <!-- Google Maps -->
        <!-- <script src="/assets/js/gmap.js"></script> -->
        <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"></script> -->

        <!-- Definity JS -->
        <script src="/assets/js/main.js"></script>
    </body>
</html>




